:root{
    --black : #1c1b1b;
    --white : #f4f1f1;
    --red : #d10606de;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

/* header section start*/
.home{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding:5px 25px;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar.active{
    position: fixed;
    top:0;
    background: var(--white);
    box-shadow: 1px 1px 3px #e0e0e0c3,
                -1px -1px 3px #ffffff;
    max-width: 1300px;
    padding:5px 25px;
    z-index: 100;
    transform: translateX(-25px);
}

.logo{
    width: 130px;
}
.logo img{
    width: 100%;
}
.nav-links .logo{
    display: none;
}
.nav-links{
    position: relative;
}
#cross{
    font-size:25px;
    font-weight: bold;
    color:var(--red);
    position: absolute;
    right:8px;
    top:2px;
    display: none;
}
.nav-links ul,
.another-links ul{
    display: flex;
    align-items: center;
}

.nav-links li,
.another-links li{
    list-style: none;
}

.nav-links a, 
.another-links a{
    text-decoration: none;
    display: block;
    padding:5px 10px;
    color:var(--black);
    font-size: 18px;
}

.another-links li:first-child{
   background-color: var(--white);
   border: 1px solid var(--black);
   border-radius: 5px;
   margin:0 10px;

}
#bag{
    font-size: 25px;
    color:var(--black);
    position: relative;
}
#bag span{
    position: absolute;
    right: 0;
    top:-5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    background-color: var(--red);
    font-family: sans-serif;
    border-radius: 50%;
    color: var(--white);
}

#bars{
    display: block;
    font-size: 25px;
    position: absolute;
    top:2px;
    right:4px;
    border : 1px solid var(--black);
    border-radius: 5px;
    padding:5px 10px;
    display: none;
}
 /* overlay */
 main{
     position: relative;
 }
 .overlay{
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    display: none;
}
.overlay.togOver{
    display: block;
}
/* overlay */
/* header section end*/

/* section start*/
    .section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 85vh;
        width: 100%;
    }
    .content{
        width: 50%;
    }
    .bg-img{
       width: 50%;
       text-align: right;
    }
    .bg-img img{
       width: 400px;
    }
    .content h2{
        font-weight: 500;
        color:var(--red);
        margin-bottom:20px;
    }
    .content h2 span{
        color:var(--black);
    }
    .content p{
        font-size: 20px;
        color:var(--black);
        margin-top: 10px;
    }
    .btn{
        display: block;
        text-decoration:none;
        width: 120px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 16px;
        border: none;
        border-radius:25px;
        background-color: var(--red);
        color:var(--white);
        margin-top:10px;
    }
/* section end */

/* product show section start */

.product-container{
    max-width: 1080px;
    padding:0 25px;
    margin:70px auto;
}

.products .title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    width: 100%;
    height: 3px;
    background-color: #e0e0e0c3;
    position: relative;
}
.title h3{
    color:var(--black);
    font-size: 30px;
    font-weight: 300;
    border: 1px solid #e0e0e0c3;
    background-color: snow;
    padding: 3px;
    width: 300px;
    margin: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
h3 span{
    color:var(--red);
}
.product-row{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-col-4{
    flex-basis: 25%;
    min-width: 230px;
    margin-top: 20px;
    text-align: center;
}
.product-img{
    width: 95%;
    height: 320px;
    position: relative;
    margin:10px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 6px #d4d4d4be,
                -3px 3px 6px rgba(255, 255, 255, 0.694);
}

.product-img img{
    width: 95%;
    height: 77%;
    margin:auto;
    border-radius: 10px;
}
.icons{
    position: absolute;
    right: -10px;
    top:0px;
}
.icons i{
    display: block;
    font-size: 22px;
    margin: 15px 20px 0 0;
    transform: translateX(47px);
    transition: transform 0.3s;
}
.product-img .btn{
    position: absolute;
    bottom: 0;
    transform: translateY(40px);
    width: 95%;
    height: 35px;
    background-color: var(--black);
    text-transform: uppercase;
    border-radius: 0;
    transition: transform 0.3s;
}

.p-row:hover .btn{
    display: block;
    transform: translateY(0);
}

.p-row:hover .icons i{
    transform: translateX(0);
}
.icons i:hover{
    color: var(--red);
}
.offer{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: var(--black);
    font-size: 20px;
    color:var(--white);
    position: absolute;
    top:20px;
    left:0;
}

div.adv{
    margin-top: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}

.adv .cat{
    text-transform: uppercase;
    color:#aaa9a9d8;
    margin-bottom: 3px;
}

.adv .tit{
    color:var(--black);
    font-size: 18px;
}
.adv .price span:first-child{
    color:#a2a1a1e7;
    font-size: 15px;
    text-decoration: line-through;
    margin-bottom: 1px;
}
.adv .price span:last-child{
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}
.adv .btn{
    width: 150px;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 7px;
    border-radius: 5px;
    background-color: var(--black);
    border:2px solid var(--red);
    box-shadow: 1px 1px 2px #c8c5c5a8;
}

/* product slide start */
.product-container{
    position: relative;
}

.slider{
    max-width: 1030px;
    overflow: hidden;
}

#slide{
    width: 3090px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: 0.5s linear;
} 
.slides{
    flex:0 0 343px;
    text-align: center;
}
.slides .product-img{
    height: 410px;
}
.left-arrow,
.right-arrow{
    font-size: 35px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.left-arrow{
    left:0;
}
.right-arrow{
    right: 0;
}

/* product slide end */

/* deal */
.deal .title{
    background-color: var(--red);
}
.deal h3{
    background-color: var(--black);
    color: var(--white);
    text-transform: capitalize;
}
.dc p{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--red);
}
.time{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin:15px 0;
}
.time .date {
    width: 23%;
    text-align: center;
}
.time span{
    font-size: 20px;
    color:var(--white);
    background-color: var(--black);
    display: inline-block;
    font-family: sans-serif;
    width: 70%;
    height: 45px;
    line-height: 45px;
}
.time p{
    margin-top: 5px;
    font-size: 18px;
}
/* deal */

/* product show section end */

/* customer review start */
.reviews{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review{
    flex-basis: 32%;
    min-width: 230px;
    padding:15px;
    margin-top: 15px;
    box-shadow: 1px 1px 3px #939898,
                -1px -1px 3px #fff9f9;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fffefeab;
    color: var(--black);
    transition: 0.2s linear;
}
.review:hover{
    transform: translate(3px, -3px);
}
.rating{
    font-size: 20px;
    color:#980202;
}
.review p{
    font-size: 17px;
    margin-top: 10px;
}
.profile{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.proPic{
    width:60px;
    height: 60px;
}
.proPic img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
.proDt{
    margin-left: 10px;
}
.proDt p{
    font-size: 19px;
    font-weight:bold;
}
.proDt small{
    margin-top: 0;
    color:#727272;
    font-size: 15px;
}
/* customer review end */



/* footer start */
footer{
    background-color:#1a1a1a;
    color:#cdcdcdc9;
    font-family: Arial, Helvetica, sans-serif;
}
footer .container{
    border-bottom: 1px solid #cdcdcdc9;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 5px;
}
.footer-col-4{
    flex-basis: 23%;
    min-width: 200px;
    margin-top: 10px;
    margin-left: 15px;
    text-align: start;
}
.footer-col-4 h3{
    color:#bfbfbfc9;
}
.footer-col-4 ul{
    margin-top:7px;
    margin-bottom: 5px;
}
.footer-col-4 li{
    list-style: none;
    margin-top: 10px;
}
.footer-col-4 a{
    text-decoration: none;
    color:#cdcdcdc9;
}
.footer-col-4 i{
    color:#cdcdcdc9;
    font-size: 18px;
    margin-right: 3px;
}
.footer-col-4 img{
    width: 130px;
}
.footer{
    text-align: center;
    padding:10px 0;
}
.footer i{
    color:var(--red);
}
/* footer end */

/* products section start */
.shop-title{
    margin-top: 10px;
}
.shop-title h3{
    font-weight:normal;
    font-size: 25px;
    padding: 5px 0;
    text-align: left;
    border-bottom: 3px solid var(--white);
}
.shop-title span{
    color:var(--red);
}
.shop-category{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.category{
    flex-basis: 47%;
    min-width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.category img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border:8px solid var(--black);
    transition: 0.2s linear;
}

.img-title{
    position: absolute;
    top:0;
    background-color: #d9d8d867;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.2s linear;
}
.category:hover .img-title{
    background: none;
}
.category:hover img{
    transform: scale(1.1);
}
.img-title p{
    font-size: 35px;
    font-weight: lighter;
    color: var(--black);
    text-transform: capitalize;
    margin-top: 100px;
}
.img-title a{
    background-color: var(--black);
    font-size: 20px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 30px auto;
}

.pro-cat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--white);
    padding: 5px 10px;
    box-shadow: 3px 3px 8px #dfdfdf;
    background-color: none;
    max-width: 1300px;
    margin:50px auto;
}
select{
    border: none;
    background: var(--black);
    color: var(--white);
}
select option{
    padding: 5px;
}
.pro-cat p{
    font-size: 28px;
    color:var(--red);
    font-family: sans-serif;
}
.pro-cat .select{
    width: 110px;
    height: 35px;
    font-size: 18px;
    text-align: center;
}
.pro-cat-container{
   transform: translateY(-40px);
}

.sort{
    position: sticky;
    top:60px;
    z-index: 10;
}

#show2{
    display: none;
}
#show1{
    display: none;
}
.pagination{
    display: flex;
    justify-content: center;
    margin: 25px 10px;
}
.pagination > .btn{
    border-radius: 0px;
    background-color: var(--black);
    color:var(--red);
    border-right: 1px solid var(--white);
    cursor: pointer;
}
.pagination .left-btn, .right-btn{
    width: 90px;
}
#show1.active{
    display: flex;
}
#show2.active{
    display: flex;
}
.one.active{
    background-color: #323131;
}
.two.active{
    background-color: #323131;
}
.show-products{
    border-bottom: 2px solid var(--black);
    padding-bottom: 15px;
}
/* products section end */

/* product-detail section start */
.details > .product-row{
    background-color: var(--white);
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin:30px 0;

}
.pro-img-col{
    margin: 30px 0 70px 0;
    flex-basis: 48%;
    height: 580px;
    background-color: #cecece03;
}
.pro-img-col > .product-img{
    width: 100%;
    height: 100%;
}
.detail-col{
    flex-basis: 50%;
    padding-right: 15px;
    color: var(--black);
}
.detail-col h3{
    font-size: 30px;
    font-weight: 600;
    margin:35px 0;
}
.detail-col p{
    font-size: 20px;
    margin: 15px 0;
}
.detail-col p span{
    font-size: 25px;
}
.detail-col p span:first-child{
    color:#a2a2a2c3;
    text-decoration: line-through;
}
.detail-col p span:last-child{
    font-weight: bold;
    margin-left: 8px;
}
.quan-btn{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 20px 0;
}
.quan-btn input{
   width: 70px;
   border-radius: 5px;
   background-color: var(--black);
   color:var(--white);
}
.quan-btn button{
    background-color: var(--black);
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.dt-icons{
    margin: 40px 0;
    width: 60%;
}
.dt-icons i{
    font-size: 22px;
    color:#c6c4c4cf;
    margin-left: 20px;
}
.dt-icons i:first-child{
    margin-left: 0;
}
.back-btn{
    margin:40px 0;
    width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--black);
    color:var(--white);
    border-radius: 5px;
}
/* product-detail section end */

/* shopping-cart start */

table{
    width: 100%;
    color:var(--white);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 1px;
    margin: 30px auto;
    border-collapse: collapse;
}
td{
   box-shadow: 1px 1px 3px #c9c9c9,
                -1px -1px 3px #fcfcfc6f;
    border: none;
    color: var(--black);
    padding:10px;
    background: none;
}
td img{
    width: 170px;
    height: 130px;
}
tr{
    text-align: center;
}
th{
    background-color:var(--black);
    padding:5px 10px;
    border:none;
}
.product-name{
    display: flex;
    justify-content: center;
}
.product-name p{
  margin: auto 25px;
}
#qty{
    display: none;
}
#qty.active{
    display: block;
}
.subtotal{
    text-align: right;
    padding-right: 35px;
}
/* shopping-cart end */

/* sign in */
.sign-in, .sign-up{
    background-color: var(--white);
}
.form{
    max-width: 1300px;
    min-height: 88vh;
    margin:0 auto;
    margin-top: 20px;
    padding:0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.bg-img{
    flex-basis: 47%;
}
.bg-img img{
    width: 100%;
    margin-top: 30px;
}
.register-form{
    flex-basis: 47%;
    box-shadow: 3px 3px 5px #eaeaea
                -3px -3px 5px #b4b4b4;
     font-family: Arial, Helvetica, sans-serif;
}

.register-form h1{
    text-align: center;
    color:var(--black);
    font-weight: lighter;
    margin-bottom: 20px;
}
.input-group{
    margin:10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group input,
.input-group textarea{
    width:90%;
    font-size: 15px;
    padding:7px;
    display: block;
    margin:5px 0;
    border:none;
    outline:none;
}
.input-group label{
    width: 90%;
    font-size: 18px;
}
.input-btn{
    width:90%;
    margin:0px auto;
    margin-top: 30px;
    padding: 0 30px;
}
.input-btn .btn{
    width: 100%;
    background-color: var(--black);
    color:var(--white);
    margin:3px auto;
    border-radius: 15px;
}
.sign{
    padding:5px;
    width:90%;
    margin:0 auto;
    text-align: center;
}
.sign a{
    text-decoration: none;
    color:var(--black);
}
.forgot, .create{
    display: block;
    width: 90%;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color:var(--black);
}
.or{
    width: 90%;
    margin:30px auto;
    text-align: center;
    display: block;
}
.btn-group{
    width: 100%;
}
/* form */

/* contact */
.contact{
    background-color: var(--white);
}

.another-contact{
    display:flex;
    flex-wrap: wrap;
    width: 90%;
    margin:30px auto;
    padding:0 30px;
    justify-content: space-between;
}

.another-contact i{
    font-size: 35px;
}

.phone,.email,.location{
    display: flex;
    margin: 10px 0;
}
.phone > div,
.email > div,
.location > div{
    margin-left: 8px;
}
/* contact */




/* Responsive start */
@media (max-width: 980px) {

    .category{
        flex-basis: 80%;
    }
    .shop-title h3{
        padding-left: 130px;
    }

}
@media (max-width: 780px) {
    /* navbar  */
    #bars{
        display: block;
    }
    .container{
        padding:0; 
    }
    .nav-bar{
        background: var(--white);
        box-shadow: 1px 1px 3px #e0e0e0c3,
                    -1px -1px 3px #ffffff;
        padding:5px;
        flex-direction:column;
        align-items: flex-start;
    }
    #cross{
        display: block;
    }
    .nav-links{
        width: 80%;
        height: 100vh;
        background-color: lightblue;
        position: fixed;
        top:0;
        left: 0;
        transition: 0.3s linear;
        margin-left:-80%;
        z-index: 10000;
    }
    .nav-links.togNav{
        display: block;
        margin-left: 0;
    }
    .nav-links .logo{
        display: flex;
        height: 6vh;
        padding-left:5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .nav-links ul{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 94vh;
        padding-top: 15px;
        background-color: var(--white);
    }
    .nav-links li{
        width: 90%;
        border-bottom: 1px solid #b2b0b094;
        text-align:start;
    }
    .nav-links li:last-child{
        border-bottom: none; 
  }
    .nav-links a{
        color: var(--black);
        padding: 8px 10px;
        transition: 0.3s linear;
    }
    .nav-links a:hover{
        font-style: italic;
        letter-spacing: 2px;
        color:#444444;
    }
    .another-links{
        width: 100%;
    }
    .another-links ul{
        width: 100%;
        justify-content: space-between;
    }
    .another-links li:first-child{
        margin:5px 0;
        flex: 1;
        text-align: center;
        padding: 5px 0;
        border:none;
        background-color: var(--black);
    }
    .another-links a{
        color:var(--white);
    }
    #bag{
        padding: 0 20px;
    }
    .overlay{
        transition: 0.3s linear;
        opacity: 0.7;
    }
    .nav-bar.active{
        transform: translateX(0);
    }
   
    /* navbar  */

    /* section */
    .content{
        text-align: center;
        width: 100%;
        order:2;
    }
    .content a{
        margin:20px auto;
    }
    .bg-img{
        width: 100%;
        text-align: center;
    }
    .bg-img img{
        width: 320px;
    }
    /* section */

    /* show products */
    .product-col-4{
        flex-basis:47%;
    }
    .product-img{
        margin: 15px auto;
    }
    /* products slide */
    /* .slides{
       flex:0 0 16.66%;
    } */
    /* products slide */

    /* show products */
    .time span{
        width: 85%;
    }
    /* review */
    .reviews{
        justify-content: space-around;
    }
    .review{
        flex-basis: 45%;
    }
    /* review */

    /* footer */
    .footer-col-4{
        flex-basis: 45%;
        margin-left: 0;
        margin: 15px 0;
        text-align: center;
    }
    /* footer */

    .sort{
        top:110px;
    }
    .details > .product-row{
        justify-content: center;
    }
    .pro-img-col{
        flex-basis: 80%;
    }
    .detail-col{
        flex-basis:80%;
    }

    table{
        width: 90%;
        margin:30px auto;
    }
    .bg-img{
        flex-basis: 95%;
        order: 2;
    }
    .register-form{
        flex-basis: 95%;
        order: 1;
    }
}

@media (max-width : 670px) {
    table{
        width: 95%;
    }
    .product-name{
        flex-direction: column;
    }
}



@media (max-width :550px) {
    .section .content{
        padding: 5px;
    }
    .product-row{
        margin:10px auto;
    }
    .product-col-4{
        flex-basis: 100%;
        margin: auto;
    }
    .product-img{
        height: 500px;
    }
    .product-img img{
        height: 80%;
        width: 97%;
    }
    .product-img .btn{
        width: 90%;
        height: 40px;
    }
     .time span{
         width: 90%;
     }
      /* review */
    .review{
        flex-basis: 90%;
    }
    /* review */
    /* footer */
    .footer-col-4{
        flex-basis: 100%;
        margin: 20px;
    }
    .footer-col-4 h3{
        color:#b3b3b3;
    }
    /* footer */
    
    .category{
        flex-basis: 97%;
    }
    .pro-img-col{
        flex-basis: 90%;
    }
    .detail-col{
        flex-basis: 90%;
    }
}
/* Responsive end */